<%if favorites.contents == {} %>
<h3>You have no favorite pets</h3>
<%else%>
  <h1>All Favorite Pets</h1>

  <% favorites.contents.keys.each do |pet_id| %>
    <section id="pets-<%= pet_id%>">
        <% pet = Pet.find(pet_id) %>
        <%= link_to "#{pet.name}", "/pets/#{pet_id.to_i}"%><br>
        <%= image_tag("#{pet.image}", :size => "260x180") %><br>
        <%= link_to "Remove from Favorites", "/favorites/remove_favorite/#{pet_id.to_i}", method: :delete %><br>
    </section>
  <% end %>
<% end %>
